{% load sekizai_tags thumbnail static %}
{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{% static 'css/lightgallery.min.css'%}" />
{% endaddtoblock %}
{% addtoblock "css" %}
    <style>
        #light-gallery-{{ id }} a img {
            margin: {{ pageThumbMarginVertical }} {{ pageThumbMarginHorizontal }};
        }
    </style>
{% endaddtoblock %}
{% addtoblock "css" %}
    <style>
        body:has(.cms-toolbar) .lg-backdrop,
        body:has(.cms-toolbar) .lg-outer {
            top: 50px !important;
            height: calc(100% - 50px) !important;
        }
    </style>
{% endaddtoblock %}

{% addtoblock "js" %}
<script defer type="text/javascript" src="{% static 'js/lightgallery.min.js' %}"></script>
{% endaddtoblock %}
{% if thumbnail %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-thumbnail.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}
{% if zoom %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-zoom.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}
{% if fullscreen %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-fullscreen.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}
{% if pager %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-pager.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}
{% if hash %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-hash.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}
{% if share %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-share.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}
{% if autoplay %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-autoplay.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}
{% if rotate %}
  {% addtoblock "js" %}
    <script defer type="text/javascript" src="{% static 'js/lg-rotate.min.js' %}"></script>
  {% endaddtoblock %}
{% endif %}

{% load l10n %}
{% addtoblock "js" %}
<script type="text/javascript">
  window.addEventListener('load', function() {
    let activePlugins = [];
    if ({{ thumbnail|lower }}) { activePlugins.push(lgThumbnail); }
    if ({{ zoom|lower }}) { activePlugins.push(lgZoom); }
    if ({{ fullscreen|lower }}) { activePlugins.push(lgFullscreen); }
    if ({{ pager|lower }}) { activePlugins.push(lgPager); }
    if ({{ hash|lower }}) { activePlugins.push(lgHash); }
    if ({{ share|lower }}) { activePlugins.push(lgShare); }
    if ({{ autoplay|lower }}) { activePlugins.push(lgAutoplay); }
    if ({{ rotate|lower }}) { activePlugins.push(lgRotate); }

    lightGallery(document.getElementById('light-gallery-{{ id }}'), {
      plugins: activePlugins,
      mode: "{{ mode }}",
      cssEasing: "{{ cssEasing }}",
      speed: {{ speed }},
      height: "{{ height }}",
      width: "{{ width }}",
      addClass: "{{ addClass }}",
      startClass: "{{ startClass }}",
      backdropDuration: {{ backdropDuration }},
      hideBarsDelay: {{ hideBarsDelay }},
      closable: {{ closable|lower }},
      loop: {{ loop|lower }},
      escKey: {{ escKey|lower }},
      keyPress: {{ keyPress|lower }},
      controls: {{ controls|lower }},
      slideEndAnimation: {{ slideEndAnimation|lower }},
      hideControlOnEnd: {{ hideControlOnEnd|lower }},
      mousewheel: {{ mousewheel|lower }},
      preload: {{ preload }},
      nextHtml: "{{ nextHtml }}",
      prevHtml: "{{ prevHtml }}",
      index: {{ index }},
      iframeMaxWidth: "{{ iframeMaxWidth }}",
      download: {{ download|lower }},
      counter: {{ counter|lower }},
      appendCounterTo: "{{ appendCounterTo }}",
      swipeThreshold: {{ swipeThreshold }},
      enableDrag: {{ enableDrag|lower }},
      enableSwipe: {{ enableSwipe|lower }},
      allowMediaOverlap: {{ allowMediaOverlap|lower }},
      appendSubHtmlTo: "{{ appendSubHtmlTo }}",
      closeOnTap: {{ closeOnTap|lower }},
      defaultCaptionHeight: {{ defaultCaptionHeight }},
      getCaptionFromTitleOrAlt: {{ getCaptionFromTitleOrAlt|lower }},
      hideScrollbar: {{ hideScrollbar|lower }},
      iframeHeight: "{{ iframeHeight }}",
      iframeMaxHeight: "{{ iframeMaxHeight }}",
      iframeWidth: "{{ iframeWidth }}",
      licenseKey: "{{ licenseKey }}",
      loadYouTubePoster: {{ loadYouTubePoster|lower }},
      mobileSettings: { controls: {{ mobileControls|lower }}, showCloseIcon: {{ mobileShowCloseIcon|lower }}, download: {{ mobileDownload|lower }} },
      numberOfSlideItemsInDom: {{ numberOfSlideItemsInDom }},
      resetScrollPosition: {{ resetScrollPosition|lower }},
      showBarsAfter: {{ showBarsAfter|unlocalize }},
      showCloseIcon: {{ showCloseIcon|lower }},
      showMaximizeIcon: {{ showMaximizeIcon|lower }},
      slideDelay: {{ slideDelay }},
      startAnimationDuration: {{ startAnimationDuration }},
      subHtmlSelectorRelative: {{ subHtmlSelectorRelative|lower }},
      swipeToClose: {{ swipeToClose|lower }},
      trapFocus: {{ trapFocus|lower }},
      videoMaxSize: "{{ videoMaxSize }}",
      zoomFromOrigin: {{ zoomFromOrigin|lower }},
      {% if thumbnail %}
      animateThumb: {{ animateThumb|lower }},
      alignThumbnails: "{{ alignThumbnails }}",
      thumbWidth: {{ thumbWidth }},
      thumbHeight: "{{ thumbHeight }}",
      thumbMargin: {{ thumbMargin }},
      showThumbByDefault: {{ showThumbByDefault|lower }},
      toggleThumb: {{ toggleThumb|lower }},
      enableThumbDrag: {{ enableThumbDrag|lower }},
      enableThumbSwipe: {{ enableThumbSwipe|lower }},
      appendThumbnailsTo: "{{ appendThumbnailsTo }}",
      loadYouTubeThumbnail: {{ loadYouTubeThumbnail|lower }},
      thumbnailSwipeThreshold: {{ thumbnailSwipeThreshold }},
      youTubeThumbSize: {{ youTubeThumbSize }},
      {% endif %}
      {% if zoom %}
      scale: {{ zoomScale }},
      enableZoomAfter: {{ zoomEnableZoomAfter }},
      actualSize: {{ actualSize|lower }},
      infiniteZoom: {{ infiniteZoom|lower }},
      showZoomInOutIcons: {{ showZoomInOutIcons|lower }},
      {% endif %}
      {% if share %}
      facebook: {{ facebook|lower }},
      facebookDropdownText: "{{ facebookDropdownText }}",
      twitter: {{ twitter|lower }},
      twitterDropdownText: "{{ twitterDropdownText }}",
      pinterest: {{ pinterest|lower }},
      pinterestDropdownText: "{{ pinterestDropdownText }}",
      {% endif %}
      {% if autoplay %}
      autoplayControls: {{ autoplayControls|lower }},
      appendAutoplayControlsTo: "{{ appendAutoplayControlsTo }}",
      forceSlideShowAutoplay: {{ forceSlideShowAutoplay|lower }},
      progressBar: {{ progressBar|lower }},
      slideShowAutoplay: {{ slideShowAutoplay|lower }},
      slideShowInterval: {{ slideShowInterval|unlocalize }},
      {% endif %}
      {% if rotate %}
      rotateLeft: {{ rotateLeft|lower }},
      rotateRight: {{ rotateRight|lower }},
      flipHorizontal: {{ flipHorizontal|lower }},
      flipVertical: {{ flipVertical|lower }},
      rotateSpeed: {{ rotateSpeed }},
      {% endif %}
    });
  });
</script>
{% endaddtoblock %}

<div id="light-gallery-{{ id }}" class="light-gallery-plugin">
  {% for image in images %}
  <a href="{{ image.file.url }}">
    <img src="{% thumbnail image.file pageThumbWidthHeight upscale crop %}"></img>
  </a>
  {% endfor %}
</div>
